---
import Experience from "../components/Experience/Experience.astro";
import Home from "../components/Home/Home.astro";
import NavigationMobile from "../components/Navigation/Navigation.jsx";
import Projects from "../components/Projects/Projects.jsx";
import AboutMe from "../components/AboutMe/AboutMe.astro";
import "../global.css";
import Contact from "../components/Contact/Contact.astro";
---

<style>
  .homeWrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
  }
  .projectsWrapper {
    min-height: 100%;
    padding-top: 8rem;
    padding-bottom: 3rem;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
  .projectsTopGroup {
    position: absolute;
    top: 5.5rem;
  }

  .projectsBottomGroup {
    position: absolute;
    bottom: 0;
  }

  .aboutMeWrapper {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
  }

  .aboutMeTopGroup {
    top: 6rem;
    left: 0;
  }

  .aboutMeBottomGroup {
    bottom: 0;
    left: 0;
  }

  .contactWrapper {
    width: 100%;
    padding-top: 5.5rem;

    position: relative;
  }

  .contactTopGroup {
    top: 5rem;
  }

  footer {
    margin-top: 3rem;

    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #131314;
  }

  .footerContent {
    font-size: 125%;
    text-align: center;
  }

  .specialRed {
    color: #e81224;
  }

  .neonSpecialRed {
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em #e81224;
  }

  .copyright {
    color: wheat;
  }
  @media only screen and (max-width: 767px) {
    .projectsWrapper {
      padding-top: 6rem;
    }
    .projectsTopGroup {
      top: 3rem;
    }

    .aboutMeTopGroup {
      top: 3rem;
    }
    .contactTopGroup {
      top: 3rem;
    }
  }
</style>

<script>
  const observer = new IntersectionObserver(
    (entries) => {
      const desktopNavbar = document.getElementById("desktopNavLinks");

      let currentListOfNavLinks: HTMLAnchorElement[] = [];
      if (desktopNavbar) {
        desktopNavbar.childNodes.forEach((el) =>
          currentListOfNavLinks.push(el as HTMLAnchorElement)
        );
      }

      entries.forEach((entry) => {
        if (entry.isIntersecting && currentListOfNavLinks.length > 0) {
          currentListOfNavLinks.forEach((navlink) => {
            navlink.classList.remove("neonBorder");
            if (navlink.href.includes(`#${entry.target.id}`)) {
              navlink.classList.add("neonBorder");
            }
          });
        }

        if (entry.isIntersecting && entry.target.id === "Experience") {
          entry.target.classList.add("movingInAnimation");
        }
      });
    },
    { rootMargin: "32px", threshold: [0.4] }
  );

  const allSections = [
    document.getElementById("Home"),
    document.getElementById("Experience"),
    document.getElementById("Projects"),
    document.getElementById("AboutMe"),
    document.getElementById("Contact"),
  ];

  window.addEventListener("load", () => {
    allSections.forEach((el) => observer.observe(el!));
  });
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/optimizedLogo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Bartosz Mrosek" />
    <title>Bartosz Mrosek Portfolio</title>
  </head>
  <body>
    <NavigationMobile client:only="react" />
    <main>
      <section class="homeWrapper">
        <Home />
      </section>
      <Experience />
      <section id="Projects" class="projectsWrapper">
        <div class="projectsTopGroup htmlDecorators">
          <pre>
    &lt;section id="Projects"&gt;
          </pre>
        </div>
        <Projects client:idle client:only="react" />
        <div class="projectsBottomGroup htmlDecorators">
          <pre>
    &lt;/section&gt;
          </pre>
        </div>
      </section>
      <section class="aboutMeWrapper" id="AboutMe">
        <div class="htmlDecorators aboutMeTopGroup">
          <pre>
    &lt;section id="AboutMe"&gt;
          </pre>
        </div>
        <AboutMe />
        <div class="htmlDecorators aboutMeBottomGroup">
          <pre>
    &lt;/section&gt;
          </pre>
        </div>
      </section>
      <section class="contactWrapper" id="Contact">
        <div class="htmlDecorators contactTopGroup">
          <pre>
    &lt;section id="Contact"&gt;
          </pre>
        </div>
        <Contact />
        <div class="htmlDecorators">
          <pre>
    &lt;/section&gt;
  &lt;/body&gt;
          </pre>
        </div>
      </section>
    </main>
    <footer>
      <p class="footerContent">
        <span class="specialRed">Made with</span>
        <span class="neonSpecialRed">❤️</span>
        <span class="copyright">
          <wbr />• &copy; Copyright 2023 Bartosz Mrosek. All Rights Reserved</span
        >
      </p>
    </footer>
  </body>
</html>
