---
import Experience from "../components/Experience/Experience.astro";
import Home from "../components/Home/Home.astro";
import NavigationMobile from "../components/Navigation/Navigation.jsx";
import Projects from "../components/Projects/Projects.jsx";
import AboutMe from "../components/AboutMe/AboutMe.astro";
import "../global.css";
import Contact from "../components/Contact/Contact.astro";
import MyLogoSrc from "/optimizedLogo.svg";
---

<style>
  .homeWrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    height: 100svh;
  }
  .projectsWrapper {
    min-height: 100%;
    padding-top: 8rem;
    padding-bottom: 3rem;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
  .projectsTopGroup {
    position: absolute;
    top: 5.5rem;
  }

  .projectsBottomGroup {
    position: absolute;
    bottom: 0;
  }

  .aboutMeWrapper {
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
  }

  .aboutMeTopGroup {
    top: 6rem;
    left: 0;
  }

  .aboutMeBottomGroup {
    bottom: 0;
    left: 0;
  }

  .contactWrapper {
    width: 100%;
    padding-top: 5.5rem;

    position: relative;
  }

  .contactTopGroup {
    top: 5rem;
  }

  footer {
    margin-top: 3rem;

    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #131314;
  }

  .footerContent {
    font-size: 125%;
    text-align: center;
  }

  .specialRed {
    color: #e81224;
  }

  .neonSpecialRed {
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em #e81224;
  }

  .copyright {
    color: wheat;
  }

  .overlay {
    z-index: 50;

    width: 100%;
    height: 100%;

    position: fixed;
    pointer-events: none;
    overflow: hidden;
  }

  body {
    overflow: hidden;
  }

  .logoWrapper {
    position: absolute;
    top: 50%;
    left: 50%;

    transform-origin: left top;
    width: max-content;
    height: max-content;
    animation: logoAnim 8s forwards ease-in-out;
  }

  @keyframes logoAnim {
    0% {
      top: -10%;
    }
    33% {
      top: 50%;
      transform: rotate(0deg);
    }
    66% {
      top: 50%;
      transform: rotate(360deg);
    }
    75% {
      top: 50%;
    }
    100% {
      top: -10%;
      transform: rotate(360deg);
    }
  }

  .logoAnimation {
    width: 30vw;
    height: 30vh;
    height: 30svh;

    transform: translate(-50%, -50%);
  }

  .courtainUp {
    height: calc(60% + 4px);
    width: 100%;
    position: absolute;
    top: -10%;
    transform: skewY(-5deg);

    background-color: #131314;

    animation: courtainUpAnim 2.25s 6s forwards ease-in;
  }

  .courtainDown {
    height: 60%;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: skewY(-5deg);

    background-color: #131314;

    animation: courtainDownAnim 2.25s 6s forwards ease-in;
  }

  @keyframes courtainUpAnim {
    to {
      top: -120%;
    }
  }

  @keyframes courtainDownAnim {
    to {
      top: 120%;
    }
  }

  @media only screen and (max-width: 767px) {
    .projectsWrapper {
      padding-top: 6rem;
    }
    .projectsTopGroup {
      top: 3rem;
    }

    .aboutMeTopGroup {
      top: 3rem;
    }
    .contactTopGroup {
      top: 3rem;
    }
  }
</style>

<script>
  const observer = new IntersectionObserver(
    (entries) => {
      const desktopNavbar = document.getElementById("desktopNavLinks");

      let currentListOfNavLinks: HTMLAnchorElement[] = [];
      if (desktopNavbar) {
        desktopNavbar.childNodes.forEach((el) =>
          currentListOfNavLinks.push(el as HTMLAnchorElement)
        );
      }

      entries.forEach((entry) => {
        if (entry.isIntersecting && currentListOfNavLinks.length > 0) {
          currentListOfNavLinks.forEach((navlink) => {
            navlink.classList.remove("neonBorder");
            if (navlink.href.includes(`#${entry.target.id}`)) {
              navlink.classList.add("neonBorder");
            }
          });
        }

        if (entry.isIntersecting && entry.target.id === "Experience") {
          entry.target.classList.add("movingInAnimation");
        }
      });
    },
    { rootMargin: "32px", threshold: [0.4] }
  );

  const allSections = [
    document.getElementById("Home"),
    document.getElementById("Experience"),
    document.getElementById("Projects"),
    document.getElementById("AboutMe"),
    document.getElementById("Contact"),
  ];

  window.addEventListener("load", () => {
    allSections.forEach((el) => observer.observe(el!));

    const courtainDownElement = document.getElementsByClassName(
      "courtainDown"
    )[0]! as HTMLDivElement;

    courtainDownElement.addEventListener("animationend", () => {
      courtainDownElement.style.display = "none";
      document.body.style.overflow = "auto";
    });
  });
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/optimizedLogo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Bartosz Mrosek" />
    <title>Bartosz Mrosek Portfolio</title>
  </head>
  <body>
    <div class="overlay" role="alert" aria-busy="true">
      <div class="courtainUp"></div>
      <div class="courtainDown"></div>
      <div class="logoWrapper">
        <img src={MyLogoSrc} class="logoAnimation" alt="My personal logo" />
      </div>
    </div>
    <div class="container">
      <NavigationMobile client:only="react" />
      <main>
        <div class="homeWrapper">
          <Home />
        </div>
        <Experience />
        <div id="Projects" class="projectsWrapper">
          <div class="projectsTopGroup htmlDecorators">
            <pre>
    &lt;section id="Projects"&gt;
            </pre>
          </div>
          <Projects client:idle client:only="react" />
          <div class="projectsBottomGroup htmlDecorators">
            <pre>
    &lt;/section&gt;
            </pre>
          </div>
        </div>
        <div class="aboutMeWrapper" id="AboutMe">
          <div class="htmlDecorators aboutMeTopGroup">
            <pre>
    &lt;section id="AboutMe"&gt;
            </pre>
          </div>
          <AboutMe />
          <div class="htmlDecorators aboutMeBottomGroup">
            <pre>
    &lt;/section&gt;
            </pre>
          </div>
        </div>
        <div class="contactWrapper" id="Contact">
          <div class="htmlDecorators contactTopGroup">
            <pre>
    &lt;section id="Contact"&gt;
            </pre>
          </div>
          <Contact />
          <div class="htmlDecorators">
            <pre>
    &lt;/section&gt;
  &lt;/body&gt;
            </pre>
          </div>
        </div>
      </main>
      <footer>
        <p class="footerContent">
          <span class="specialRed">Made with</span>
          <span class="neonSpecialRed">❤️</span>
          <span class="copyright">
            <wbr />• &copy; Copyright 2023 Bartosz Mrosek. All Rights Reserved</span
          >
        </p>
      </footer>
    </div>
  </body>
</html>
