---
---

<style></style>

<section class="informationsWrapper">
  <div class="information">
    <h1>Ways to contact and follow me:</h1>
    <ul>
      <li>LinkedIn</li>
      <li>Github</li>
      <li>Email</li>
    </ul>
  </div>
  <form class="contactForm">
    <label>
      Name:
      <input name="Name" />
    </label>
    <label>
      E-mail
      <input name="Email" />
    </label>
    <label>
      Message
      <input name="Message" />
    </label>
    <button type="submit">Submit</button>
  </form>
</section>
