---
---

<style>
  .experienceWrapper {
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-top: 9rem;
    padding-bottom: 4rem;

    transition: opacity 1s linear;

    opacity: 0.5;
  }

  .card {
    width: 25%;
    background-color: rgb(18, 9, 14);

    padding: 1rem 2rem;

    border-radius: 2rem !important;

    color: rgba(255, 255, 255, 0.61);

    display: flex;
    flex-direction: column;

    align-items: center;

    font-size: 125%;
  }

  .card > h1 {
    text-align: center;
  }

  .card:nth-of-type(1) {
    --neonBorderColor: var(--neonYellow);
  }

  .card:nth-of-type(2) {
    --neonBorderColor: var(--neonGreen);
  }

  .card:nth-of-type(3) {
    --neonBorderColor: var(--neonBlue);
  }

  .cardHeader {
    text-align: center;
    font-size: 1.17em;
  }

  .cardTitle {
    font-size: 1em;
  }

  .cardTime {
    font-size: 0.67em;
  }

  .cardMainWrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .cardMain {
    padding-top: 1.5rem;
  }

  .topGroup {
    position: absolute;
    top: 6rem;
    left: 0;
  }

  .bottomGroup {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  @media only screen and (max-width: 1500px) {
    .experienceWrapper {
      flex-direction: column;
      gap: 2.5rem;
      align-items: center;
    }

    .card {
      padding: 1rem;
      margin: 0 1rem;

      width: 90%;
    }
  }

  @media only screen and (max-width: 767px) {
    .topGroup {
      top: 4.5rem;
    }

    .experienceWrapper {
      opacity: 1;
    }
  }
</style>

<section class="experienceWrapper" id="Experience">
  <div class="topGroup htmlDecorators">
    <pre>
    &lt;section id="Experience"&gt;
    </pre>
  </div>
  <section class="card neonBorder">
    <h2 class="neonYellow cardHeader">Sopra Steria Polska</h2>
    <h3 class="neonWhite cardTitle">Intern</h3>
    <h4 class="cardTime">09.2022-09.2022</h4>
    <div class="cardMainWrapper">
      <p class="cardMain">
        During my final internship experience in school, I was working on
        improving my interpersonal skills as <i><u>First Line Support</u></i> for
        a big international company.
      </p>
      <p>
        My tasks involved providing IT support, troubleshooting network
        switches, and assisting applicants with the use of the <i
          ><u>English language</u></i
        >.
      </p>
      <p>
        Thanks to this opportunity I quickly learned to find solutions while
        working with non-IT individuals and successfully tested my language
        skills in industry, despite initial challenges.
      </p>
    </div>
  </section>
  <section class="card neonBorder">
    <h2 class="neonGreen cardHeader">Adient Seating Poland</h2>
    <h3 class="neonWhite cardTitle">Intern</h3>
    <h4 class="cardTime">03.2022-04.2022</h4>
    <div class="cardMainWrapper">
      <p class="cardMain">
        During my internship, I had chance to gain practical experience and
        enhance my skills in the field of information technology.
      </p>
      <p>
        One of my most significant achievements during this internship was
        successfully <u><i>configuring UPS network modules</i></u> that were previously
        faulty. This led to a considerable improvement in the response time of the
        IT team, enabling them to address any problems that arose from remote offices
        promptly.
      </p>
      <p>
        As part of my role, I provided support to other team members and
        contributed to the refactoring of <u><i>legacy Javascript code</i></u>.
        This experience helped me to develop a deeper understanding of software
        development practices and the importance of collaboration in achieving
        successful outcomes.
      </p>
    </div>
  </section>
  <section class="card neonBorder">
    <h2 class="neonBlue cardHeader">O&amp;S Computer-Soft</h2>
    <h3 class="neonWhite cardTitle">Intern</h3>
    <h4 class="cardTime">06.2021-07.2021</h4>
    <div class="cardMainWrapper">
      <p class="cardMain">
        During my monthly internship, I had the opportunity to work alongside a
        talented team and contribute to the company's success.
      </p>
      <p>
        One of my most significant achievements was helping the team discover
        new functions of software that were being used throughout the company.
        These discoveries led to an <u><i>over 50% increase in efficiency</i></u
        >, and the team quickly matched the time efficiency of workers who had
        several years of experience.
      </p>
      <p>
        In addition to my work on the software side, <i
          ><u>I also found serious cybersecurity vulnerabilities</u></i
        > in the company's wireless network. I reported these vulnerabilities to
        the appropriate personnel and worked with the team to implement measures
        to improve the security of the company's network.
      </p>
    </div>
  </section>
  <div class="bottomGroup htmlDecorators">
    <pre>
    &lt;/section&gt;
  </pre>
  </div>
</section>
